@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Sriracha');

body {
    overflow-x: hidden;
}

html {
    margin-bottom: 50px;
}

.book-slide {
    width: 100%;
    margin-left: 20px;

}

.wrapper {
    height: 350px;
    width: 550px;
    margin-top: 50px;
    margin-left: 50px;

    border-radius: 9px 9px 9px 9px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);

    position: relative;
    float: left;
    display: flex;
}

img {
    width: 100%;
    height: 100%
}

.product-img {
    float: left;
    height: 100%;
    width: 50%;
}

.product-img img {
    border-radius: 9px 0 0 9px;
}

.product-info {
    float: left;
    height: 100%;
    width: 50%;
    border-radius: 0 7px 10px 0px;

}

.wrapper:nth-child(5n+1) {
    background: #EECDA3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #bf0b55, #f3d2b5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #bf0b55, #f3d2b5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper:nth-child(5n+2) {
    background: #1F1C2C; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #c2b9fc, #212030); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #c2b9fc, #212030); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper:nth-child(5n+3) {
    background: #5433FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #A5FECB, #20BDFF, #5433FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper:nth-child(5n+4) {
    background: #AAFFA9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #21a07b, #c5fdc5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #21a07b, #c5fdc5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper:nth-child(5n+5) {
    background: #12c2e9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper:nth-child(5n+6) {
    background: #43C6AC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #191654, #43C6AC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.product-text {
    height: 300px;
    width: 95%;
    overflow: hidden;
}

.product-text h1 {
    margin: -20px 0 0 38px;
    padding-top: 52px;
    color: #ffffff;
    line-height: 1.3;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.product-text h1:hover {
    overflow: visible;
    white-space: normal;
}

.product-text h1,
.product-price-btn p {
    font-family: Sriracha, cursive;
}

.product-text h2 {
    margin: 0 0 30px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #f8e9e9;
    letter-spacing: 0.2em;
    cursor: default;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product-text h2:hover {
    overflow: visible;
    white-space: normal;
}

.product-text li {
    margin: 0 0 0 37px;
    font-family: 'Helvetica Neue', sans-serif;
    color: #ffffff;
    line-height: 2.2em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
    text-transform: capitalize;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.product-text li:hover {
    overflow: visible;
    white-space: normal;
}

.product-price-btn {
    position: relative;
}

.product-price-btn button {
    width: 82%;
    padding: 15px;
    margin: -20px 0px 0px 29px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
}

.product-price-btn button:hover {
    background-color: #fcefe4;
}


/* fancy Button */
.fancy-button {
    display: inline-block;
    margin: 20px 90px 20px 15px;
    font-family: "Heebo", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
}

.fancy-button.bg-gradient1 {
    text-shadow: 0px 0px 1px #BF4C28;
}

.fancy-button:before {
    content: "";
    display: inline-block;
    height: 40px;
    position: absolute;
    bottom: -1px;
    left: 10px;
    right: 10px;
    z-index: -1;
    border-radius: 2em;
    filter: blur(10px) brightness(0.9);
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.fancy-button span {
    margin-top: 90px;
    display: inline-block;
    padding: 14px 160px;
    border-radius: 50em;
    position: relative;
    z-index: -1;
    will-change: transform, filter;
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
}

a{
    cursor: pointer;
}

::selection {
    color: transparent;
    background: none;
}

.fancy-button:focus {
    color: #ffffff;
}

.fancy-button:hover {
    color: #ffffff;
}

.fancy-button:hover span {
    filter: brightness(0.9) contrast(1.2);
    transform: scale(0.96);
}

.fancy-button:hover:before {
    bottom: 3px;
    filter: blur(6px) brightness(0.8);
}

.fancy-button:active span {
    filter: brightness(0.75) contrast(1.7);
}

.fancy-button.pop-onhover span {
    border-radius: 4px;
}

.fancy-button.pop-onhover:before {
    opacity: 0;
    bottom: 10px;
}

.fancy-button.pop-onhover:hover:before {
    bottom: -7px;
    opacity: 1;
    filter: blur(16px);
}

.fancy-button.pop-onhover:hover span {
    transform: scale(1);
}

.fancy-button.pop-onhover:hover:active span {
    filter: brightness(1) contrast(1);
    transform: scale(1);
    transition: all 0.2s ease-out;
}

.fancy-button.pop-onhover:hover:active:before {
    bottom: 0;
    filter: blur(5px) brightness(0.85);
    transition: all 0.2s ease-out;
}

/* bg shortcodes */
.bg-gradient1 span,
.bg-gradient1:before {
background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-gradient2 span,
.bg-gradient2:before {
background: #2c3e50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.styletext{
    text-align: center;
    font-family: Sriracha, cursive;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 2px;

}