<!DOCTYPE html>
{% load static %}
{% include "BookRecSys_App/navbar.html" with active_tab='F' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookRecSys</title>
    {#    <link rel="stylesheet" href="{% static "css/recommender.css" %}">#}
    <link rel="stylesheet" href="{% static "css/myshelf.css" %}">
</head>
<body>
{% include 'BookRecSys_App/msg_alert.html' %}
<div class="book-slide" style="margin-left: 90px">
    <div>
        <a class="fancy-button bg-gradient1" id="favbtn" value='hide/show'><span>FAVORITE BOOKS</span></a>

        <a class="fancy-button bg-gradient2" id="disbtn" value='hide/show'><span>DISLIKED BOOKS</span></a>
    </div>
</div>

<div class="book-slide" style="display: none;" id="favslide">
    <br>
    <div class="styletext">
        <h1 style="font-weight: bolder; font-style: italic;">BOOKS YOU LIKED</h1>
    </div>
    {% for book in ratedbook %}
        <div class="wrapper">
            <div class="product-img">
                <img src="{{ book.image_url }}">
            </div>
            <div class="product-info">
                <div class="product-text">
                    <h1>{{ book.title }}</h1>
                    <h2>BY {{ book.author }}</h2>
                    <li>ISBN: {{ book.isbn }}</li>
                    <li>Publisher: {{ book.publisher }}</li>
                    <li>Year: {{ book.year }}</li>
                    <li>Rating Count: {{ book.rating_count }}</li>
                </div>
                <form method="get">
                    <div class="product-price-btn">
                        <input type="hidden" name="title" id="title" value="{{ book.title }}">
                        <input type="hidden" name="user" id="user" value={{ request.session.userid }}>
                        <input type="hidden" name="type" id="type" value="fav">
                        <button type="submit"
                                onclick="return confirm('Are you sure you want to remove this book from favourite?')">
                            Remove Book
                        </button>
                    </div>
                </form>

            </div>
        </div>
    {% endfor %}

</div>

<div class="book-slide" style="display: none;" id="divslide">
    <br>
    <div class="styletext">
        <h1 style="font-weight: bolder; font-style: italic;">BOOKS YOU DISLIKED</h1>
    </div>
    {% for book in dislikedbook %}
        <div class="wrapper">
            <div class="product-img">
                <img src="{{ book.image_url }}">
            </div>
            <div class="product-info">
                <div class="product-text">
                    <h1>{{ book.title }}</h1>
                    <h2>BY {{ book.author }}</h2>
                    <li>ISBN: {{ book.isbn }}</li>
                    <li>Publisher: {{ book.publisher }}</li>
                    <li>Year: {{ book.year }}</li>
                    <li>Rating Count: {{ book.rating_count }}</li>
                </div>
                <form method="get">
                    <div class="product-price-btn">
                        <input type="hidden" name="title" id="title" value="{{ book.title }}">
                        <input type="hidden" name="user" id="user" value={{ request.session.userid }}>
                        <input type="hidden" name="type" id="type" value="dislike">
                        <button type="submit"
                                onclick="return confirm('Are you sure you want to remove this book from favourite?')">
                            Remove Book
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    let favClicked = false;
    let disClicked = false;
    jQuery(document).ready(function () {

        jQuery('#favbtn, #disbtn').on('click', function (event) {
            if (this.id === 'favbtn' && favClicked === false && disClicked === false) {
                jQuery('#favslide').toggle('show');
                favClicked = true;
            }
            else if (this.id === 'disbtn' && favClicked === false && disClicked === false) {
                jQuery('#divslide').toggle('show');
                disClicked = true;
            }
            else if (this.id === 'disbtn' && disClicked === false && favClicked === true) {
                jQuery('#favslide').toggle('show');
                jQuery('#divslide').toggle('show');
                favClicked = false;
                disClicked = true;
            }
            else if (this.id === 'favbtn' && disClicked === true && favClicked === false) {
                jQuery('#favslide').toggle('show');
                jQuery('#divslide').toggle('show');
                favClicked = true;
                disClicked = false;
            }
            }
        );

    });
</script>


</body>
</html>