<!DOCTYPE html>
{% load static %}
{% include "BookRecSys_App/navbar.html" with active_tab='B' %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookRecSys</title>
    <link rel="stylesheet" href="{% static "css/profile.css" %}">
    <link href="https://codepen.io/uzcho_/pen/RmOWmw.css">
</head>
<body>
{% include 'BookRecSys_App/msg_alert.html' %}

<div class="vcard">
    <div class="header">
        <div class="wave_bg">
            <div class="wave-01"></div>
            <div class="wave-02"></div>
            <div class="wave-03"></div>
        </div>

        <div class="profile_pic_content">
            <img class="profile_pic" src={% static "image/profile.jpg" %}>
        </div>
    </div>
    <div class="card_content">
        <div class="name">
            <h4>{{ name }}</h4>
        </div>

        <div class="name">
            <h4>{{ email }}</h4>
        </div>

{#        <div class="name">#}
{#            <h4>{{ password }}</h4>#}
{#        </div>#}

        <a class="button" href="updateprofile.html">Update Profile</a>
    </div>
</div>

<canvas id="canvas-club"></canvas>
<script src="{% static "js/profile.js" %}"></script>
</body>
</html>